<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="Username" value="USERNAME"/>
    <add key="Password" value="PASSWORD"/>
    <add key="TeamcityUrl" value="http://localhost:8082"/>
    <add key="BuildConfigurationId" value="BUILDCONFIGID"/>
    <add key="Comport" value="COM7"/>
    <add key="ServicePollInterval" value="15000"/> <!-- 15 seconds -->
  </appSettings>
</configuration>